<div class="mx-4 float-left zindex10 px-1 ">
  <button class="btn mx-5 white-bg border-rad-o" (click)="toggleFilters()" title="Toggle Filters Section">
    <mat-icon aria-hidden="false" aria-label="icon">filter_list</mat-icon>
  </button>
</div>
<div class="clearfix"></div>
<div class="container">
  <div class=" filter col-12 slide-in white-bg p-0 mb-3" *ngIf="isExpanded">
    <form [formGroup]="FiltersForm" (keydown.enter)="$event.preventDefault()" class="p-4 form-inline">
      <select class="form-control " id="Searchby" formControlName="Searchby" title="Searchby"
        (click)="SearchByChange()">
        <option value="" selected>
          Select Filter
        </option>
        <option value="name">Name</option>
        <option value="email">Email</option>
        <option value="phone">Phone</option>
        <option value="company">Company</option>
        <option value="country">Country</option>
        <option value="date">Date</option>
      </select>
      <div class="form-group" *ngIf="myFilter == 'email'">
        <input type="text" formControlName="email" class="form-control" id="email" placeholder="Email">
        <span
          *ngIf="FiltersForm.controls.email.invalid &&FiltersForm.controls.email.errors?.pattern && FiltersForm.controls.email?.dirty"
          class="badge badge-danger mb-3">Wrong Format</span>
      </div>
      <div class="form-group" *ngIf="myFilter == 'name'">
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name">
      </div>
      <div class="form-group" *ngIf="myFilter == 'phone'">
        <input type="text" formControlName="phone" class="form-control" id="phone" placeholder="Phone">
        <span
          *ngIf="FiltersForm.controls.phone.invalid && FiltersForm.controls.phone.errors?.pattern && FiltersForm.controls.phone?.dirty "
          class="badge badge-danger mb-3">Wrong Format</span>
      </div>
      <div class="form-group" *ngIf="myFilter == 'company'">
        <input type="text" formControlName="company" class="form-control" id="company" placeholder="Company">
      </div>
      <div class="form-group" *ngIf="myFilter == 'country'">
        <select class="form-control " id="country" formControlName="country" title="country">
          <option [ngValue]=null selected>
            Select Country
          </option>
          <option *ngFor="let country of countries" [ngValue]="country.Name">
            {{country.Name}}
          </option>
        </select>
      </div>
      <div class="form-group" *ngIf="myFilter == 'date'">
        <mat-form-field appearance="legacy" class="d-block pad-0">
          <input title='date' matInput [matDatepicker]="picker" formControlName="date" class="form-control">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group text-center  mx-5">
        <button class="btn btn-primary pl-2 pr-4" (click)="applyFilters()" type="button">Apply
        </button>
      </div>
    </form>

  </div>
</div>



<div class="container mt-5">
  <div class="table-container p-0 mr-3 mb-3 fade-in col-12">
    <div *ngIf="dataSource.filteredData.length===0" class="text-center m-5">
      <mat-icon class="d-block m-auto text-warning h1">report</mat-icon>
      <h3 class="mt-4">Sorry! there's no data matching your filters.</h3>
      <button (click)="resetForm()" class="color-link btn">Back</button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort appNgMatTableQueryReflector class="table-bordered"
      [hidden]="dataSource.filteredData.length === 0">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let item"> {{item.name}} </td>
      </ng-container>
      <!-- phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let item"> {{item.phone}} </td>
      </ng-container>
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let item" class="color-link"> {{item.email}} </td>
      </ng-container>
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let item"> {{item.date | date :'MMM dd, yyyy'}} </td>
      </ng-container>
      <!-- Country Column -->
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
        <td mat-cell *matCellDef="let item"> {{item.country}} </td>
      </ng-container>
      <!-- Company Column -->
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
        <td mat-cell *matCellDef="let item"> {{item.company}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator appStylePaginator [showTotalPages]="3" [length]="dataSource.data.length" [pageSize]="3"
      [pageSizeOptions]="[3, 5, 10]">
    </mat-paginator>
  </div>
</div>