<div class="float-left filter col-3 slide-in white-bg p-0 mt-3 mb-3" *ngIf="isExpanded">
 <button class="btn btn-default text-info float-right" (click)="resetForm()">
    <mat-icon class="p-2 h6">clear</mat-icon>
 </button> <h1 class="p-5">FILTERS</h1>
  
  <form [formGroup]="FiltersForm" (keydown.enter)="$event.preventDefault()" class="p-3">
    <div class="form-group">
      <input type="text" formControlName="email" class="form-control" id="email" placeholder="Email">
      <span
        *ngIf="FiltersForm.controls.email.invalid &&FiltersForm.controls.email.errors?.pattern && FiltersForm.controls.email?.dirty"
        class="badge badge-danger mb-3">Wrong Format</span>
    </div>
    <div class="form-group">
      <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-group">

      <input type="text" formControlName="phone" class="form-control" id="phone" placeholder="Phone">
      <span
        *ngIf="FiltersForm.controls.phone.invalid && FiltersForm.controls.phone.errors?.pattern && FiltersForm.controls.phone?.dirty "
        class="badge badge-danger mb-3">Wrong Format</span>
    </div>
    <div class="form-group">
      <input type="text" formControlName="company" class="form-control" id="company" placeholder="Company">
    </div>
    <div class="form-group">

      <select class="form-control " id="country" formControlName="country" title="country">
        <option [ngValue]=null selected>
          Select Country
        </option>
        <option *ngFor="let country of countries" [ngValue]="country.Name">
          {{country.Name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <mat-form-field appearance="legacy" class="d-block">
        <input matInput [matDatepicker]="picker" formControlName="date" class="form-control">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group text-center">
      <button class="btn btn-primary pl-2 pr-4" (click)="applyFilters()">Filter
        <mat-icon matSuffix aria-hidden="false" aria-label="icon" class="float-left ml-2 mr-2">filter_list</mat-icon>
      </button>
     
    </div>
  </form>
</div>
<div class="table-container white-bg p-0 mr-3 mt-3 mb-3 fade-in"
  [ngClass]="{'col-12': !isExpanded,'col-9 float-right':isExpanded }">
  <div>
    <h3 class="border-right d-inline-block m-0 py-3 col-2">Heroes</h3>
    <button class="btn float-right m-0 col-1 mt-2" (click)="toggleFilters()" title="Toggle Filters Section">
      <mat-icon aria-hidden="false" aria-label="icon">filter_list</mat-icon>
    </button>
    <mat-form-field appearance="legacy" class="my-2 m-0-imp border-0 col-9 float-right">
      <input matInput class="form-control text-center" (keyup)="applySearch($event)" >
      <mat-icon matSuffix class="search-icon">search</mat-icon>
    </mat-form-field>
  </div>
  <div *ngIf="dataSource.filteredData.length===0" class="text-center m-5">
    <mat-icon class="d-block m-auto text-warning h1">report</mat-icon>
    <h3 class="mt-4">Sorry! there's no data matching your filters.</h3>
    <button (click)="resetForm()" class="color-link btn">Back</button>
  </div>
  <table mat-table [dataSource]="dataSource" matSort appNgMatTableQueryReflector class="table-bordered" 
  [hidden]="dataSource.filteredData.length === 0">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let hero"> {{hero.name}} </td>
    </ng-container>
    <!-- phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let hero"> {{hero.phone}} </td>
    </ng-container>
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let hero" class="color-link"> {{hero.email}} </td>
    </ng-container>
    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let hero"> {{hero.date | date :'MMM dd, yyyy'}} </td>
    </ng-container>
    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef> Country </th>
      <td mat-cell *matCellDef="let hero"> {{hero.country}} </td>
    </ng-container>
    <!-- Company Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef> Company </th>
      <td mat-cell *matCellDef="let hero"> {{hero.company}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!--
<mat-paginator [pageSizeOptions]="[10, 5, 3]" showFirstLastButtons></mat-paginator>
 -->
</div>